

/* ///////////////Paid Provider Connection////////////////// */

/* ///////////////Paid Provider Search////////////////// */
.VerifiedImg {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.paidprovider-search-box-btn {
  min-width: 150px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.paidprovider-search-box-btn-cancel {
  border: 1px solid var(--theme-green1);
}

.color-for-detail {
  color: #363636;
}

.color-for-short {
  color: #707070;
}

.paid-provider-cust-search {
}

/* .paid-provider-cust-search .css-13cymwt-control {
  
  outline: #004540 !important;

  
}

.paid-provider-cust-search .css-166bipr-Input{

  outline: #004540 !important;



}
.paid-provider-cust-search .css-t3ipsp-control{
  border: #004540 !important;
  outline: #004540 !important;
  box-shadow: #004540 !important;


}
.paid-provider-cust-search .css-t3ipsp-control{
  border: #004540 !important;
  outline: #004540 !important;
  box-shadow: #004540 !important;


}
.paid-provider-cust-search .css-t3ipsp-control:hover{
  border: #004540 !important;
  outline: #004540 !important;
  

}
.paid-provider-cust-search .css-1nmdiq5-menu{
  border: #004540 !important;
  outline: #004540 !important;



} */
.css-cb2n6d-control {
  border: #004540 !important;
  outline: #004540 !important;
  box-shadow: none !important;
  border-radius: 60px 0 0 60px !important;
}

.paid-provider-input-two {
  border-top: 1px solid #004540;
  border-bottom: 1px solid #004540;
  border-right: 1px solid #004540;
  border-left: 1px solid #004540;
  margin-left: -1px;
  border-radius: 0px 60px 60px 0px !important;
}

/* ///////////////Paid Provider Search////////////////// */
.paid-provider-input-two-2 {
  padding: 1.08rem 0.75rem 1.08rem 1.5rem !important;
}

.socail-editprofile {
  display: flex;
  align-items: center;
}

.adds-file-input {
  padding-top: 4px !important;
}

.newly-added {
  margin-bottom: 2rem;
}

.newly-added-2 {
  padding: 1rem;
  border: 6px solid #ddf3f2;
  border-radius: 5px;
}

.multiple-times {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
  background-color: var(--color-light-blue);
  padding: 0 10px;
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: #004540 !important;
  color: #ffffff;
}

.Toastify__toast-container--top-right {
  right: var(--toastify-toast-right);
  /* top: 50% !important; */
  transform: translateY(-50%);
}

/* .availability  #react-select-5-option-0.css-tr4s17-option,.availability #react-select-5-option-1.css-tr4s17-option,.availability #react-select-5-option-2.css-tr4s17-option,.availability #react-select-5-option-3.css-tr4s17-option,.availability #react-select-5-option-4.css-tr4s17-option,.availability #react-select-5-option-5.css-tr4s17-option,.availability #react-select-5-option-6.css-tr4s17-option,.availability #react-select-6-option-0.css-tr4s17-option,.availability #react-select-6-option-1.css-tr4s17-option , .availability #react-select-6-option-2.css-tr4s17-option,.availability #react-select-4-option-0.css-tr4s17-option, .availability #react-select-4-option-1.css-tr4s17-option{
  background:none !important;
  color: black !important;
} */
.search-filter-jobs {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin: 1rem 0;
}

.filter-1 {
  gap: 10px;
}

.availability [id^="react-select-"][class$="-option"] {
  background: none !important;
  color: black !important;
}

.availability .css-1p3m7a8-multiValue {
  background-color: #00443f !important;
  color: #ffffff !important;
}

.availability .css-1dimb5e-singleValue {
  background-color: #00443f !important;
  color: #ffffff !important;
  padding: 4px;
  border-radius: 2px;
}

.availability .css-1p3m7a8-multiValue span {
  color: #ffffff !important;
}

.availability-2 {
  /* width: 180px; */
  width: max-content;
}

.filter-placeholder span {
  color: #676767;
}

/* .availability{
  width: 200px;
} */
.no-result-found {
  text-align: center;
  margin: 10px 0;
  font-weight: 500;
}

.header-see-all {
  color: #00443f;
}

.search-motion .css-18lrjg1-MuiCircularProgress-root {
  -webkit-animation: none;
  animation: none;
}

.search-motion {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.availability div#demo-select-small {
  background: #ffffff;
}

.availability
  .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 14px !important;
}

.MuiMenu-list li {
  font-family: 'Poppins-SemiBold' !important;
  color:var(--theme-green);
  font-size: 0.833vw;
}

.availability div#demo-select-small {
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  width: 150px;
  color:var(--theme-green);
}

.availability .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: Poppins-Regular !important;
  font-size: 15px !important;
}

.availability
  li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.font-Poppins-Medium.font-size-21px.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 15px !important;
  font-family: Poppins-Regular !important;
}

.btn-loader-headersearch svg {
  color: #00443f;
}

.not-found button {
  width: 200px;
  color: #ffffff;
  background: #00443f;
  padding: 8px;
  border-radius: 4px;
}

.cat-select {
  width: 100%;
}

.plus-icon {
  background-color: #00443f;
  padding: 4px;
  border-radius: 50%;
}

.opt-selected {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #707070;
  align-items: center;
  padding: 10px 6px 10px 16px;
}

.plus-icon-handler {
  display: flex;
  align-items: center;
}

.clock-active-jobs {
  border: 1px solid #00443f;
  background-color: #00443f;
  border-radius: 50%;
  color: #ffffff;
}

.job-request-active {
  width: fit-content;
  border-bottom: 3px solid #00443f;
}

.active-job-request-handler {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.request-specific {
  border: 2px solid #00443f;
  padding: 8px;
  border-radius: 9px;
}

.calender-icon-job-request {
}

.calender-icon-job-request svg {
}

.briefcase-icon {
  margin: 10px auto 5px auto;
}

.notification-main {
  background-color: #ddf3f2;
  padding: 15px;
  border-radius: 8px;
}

.noti-scroll {
  /* max-height: 725px; */
  /* overflow-y: auto; */
  border-radius: 8px;

}

.noti-scroll::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

.noti-scroll::-webkit-scrollbar-thumb {
  background: #00443f;
}

.noti-scroll::-webkit-scrollbar-track {
  background: #dbdbdb;
}

.noti-spec img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.noti-spec {
  display: flex;
  align-items: center;

  gap: 15px;
}

.noti-spec-main {
  background-color: white;
  padding:5px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;

}

/* custom loader */
.custom-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Set height and width as per your requirement */
  width: 100px;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #00443f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* custom loader */

.calender-icon-job-request {
  color: #ffffff;
  background-color: #00443f;
  padding: 8px;
  border-radius: 50%;
  margin-top: 25px;
  z-index: 2;
  position: relative;
}

.green-line {
  position: absolute;
  background: #00443f;
  width: 4px;
  height: 122px;
  /* height: 130px; */
  top: 56px;
  left: 13px;
  z-index: 0;
}

.cancel-job a {
  border: 1px solid var(--theme-green1);
  padding: 5px 60px 6px 60px;
  border-radius: 5px;
}

.cancel-job a:hover {
  background-image: var(--theme-green);
  color: #ffff;
}

.cancel-job a:nth-child(2) {
  border: 1px solid #df0000;
  background-color: #df0000;
  color: #fff;
}

.cancel-job button {
  border: 1px solid var(--theme-green1);
  padding: 5px 60px 6px 60px;
  border-radius: 50px;
}
/* 
.cancel-job button:hover {
  background-image: linear-gradient(#004540, #00a297);
  color: #ffff;
} */

.cancel-job button:nth-child(2) {
  border: 1px solid #df0000;
  background-color: #df0000;
  color: #fff;
}

.cancel-job .cancel-cond {
  border: 1px solid #df0000 !important;
  background-color: #ffffff !important;
  color: #df0000 !important;
}

.cancel-cond:hover {
  background-color: #df0000 !important;
  color: #ffff !important;
}

.cancel-job .success-cond {
  border: 1px solid #00443f !important;
  background-image: linear-gradient(#004540, #00a297);
  color: #fff !important;
}

.didnt-line.mt-2 {
  background: #707070;
  height: 1px;
  width: 665px;
  margin-left: -20px;
}

.x-icon svg {
  color: #00443f !important;
}

.filter-line {
  height: 1px;
  background-color: #00443f;
}

.filter-entry input {
  border: 1px solid #00a297;
  padding: 8px 15px;
  border-radius: 8px;
  outline: none;
}

.manage-job-filter {
  padding-top: 6px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.review-area {
  width: 100%;
  /* height: 120px; */
  border: 1px solid #707070;
  outline: none;
  border-radius: 8px;
}

.review-modal-outer {
  width: 30%;
  padding: 20px 20px;
}

.cancelled-jobs {
  display: flex;
  gap: 10px;
}

.cancelled-jobs-handler {
  margin-top: -20px;
}

.cancelled-jobs-handler {
  margin-top: 9px;
}

.active-jobs-tabs-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-job-services-2 {

  gap: 10px;
}

.create-job-services-2 p {
  padding: 5px;

  border-radius: 5px;
  position: relative;
}

/* .create-job-services-2 p::before{
  content: "x";
} */
.active-jobs-app-tabs {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
  margin-bottom: -10px;
}

.active-jobs-app-tabs .active {
  background-color: #ddf3f2;
  color: #00443f;
}

.active-jobs-app-tabs button {
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 8px 0;
  width: 120px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
}

.all-applicants {
  width: 24%;
  border: 2px solid #004540;
  background-color: #F4F2EE;
  border-radius: 15px;
  box-shadow: 1px 2px 6px #0006;
  padding: 15px 15px 10px 20px;
  position: relative;
}

.applicants-compare-btns svg {
  color: #00443f;
}

.all-applicants-head img {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

.applicants-compare-btns {
  border: 1px solid #00443f;
  padding: 3px 6px;
  border-radius: 12px;
}

.applicants-compare-btns:hover {
  background-color: #00443f;
}

.applicant-address svg {
  color: #00443f;
}

.applicants-compare-btns:hover > * {
  color: white !important;
}

.applicants-view:hover {
  text-decoration: underline;
  text-decoration-color: #df0000;
}

.applicant-box-1 {
  padding: 15px 15px 15px 30px;
  border-radius: 10px;
}

.applicants-tabs {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
}

.applicants-tabs .active {
  background-color: #ddf3f2;
  color: #00443f;
}

.applicants-tabs button {
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 8px 0;
  width: 120px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
}

.view-app-detail-3 {
  border: 1px solid #00a297;
  border-radius: 6px;
}

.view-app-detail {
  border: 1px solid #00a297;
  height: 120px;
  border-radius: 6px;
}

.view-app-detail-2 {
  border: 1px solid #00a297;

  border-radius: 6px;
}

.viewapp-modal {
  background-color: #F4F2EE;
  padding: 30px;

  width: 35%;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid #004540;
}

.viewapp-file {
  color: #00443f;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.multiple-files {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.uploaded-app-files {
  color: #00443f;
}

.view-app-btn button {
  width: 150px;
}

.view-app-btn-2 button {
  width: 170px;
}

.back-btn-view {
  border: 2px solid #00443f;
  color: #00443f;
}

.greyline-view-app {
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #00443f;
  top: 70px;

  /* position: absolute;
  height: 1px;
  width: 670px;
  left: -20px;
  background-color: #00443F;
  bottom: -8px; */
}

svg.svg-inline--fa.fa-x.service-remove {
  position: absolute;
  top: -5px;
  background: #000000;
  height: 7px;
  width: 7px;
  padding: 3px;
  border-radius: 50%;
  color: white;
  opacity: 1;
}